body {
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	height: 200px;
}
#sectionA {
	background: blue;
	width: 33%;
}
#sectionB {
	background: red;
	width: 33%;
}
#sectionC {
	background: green;
	width: 33%;
}
